[Unit]
Description=Handle pre-syncd start tasks
Requires=database.service
After=database.service
BindsTo=sonic.target
After=sonic.target
PartOf=syncd.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/nv-syncd-shared.sh start

[Install]
WantedBy=sonic.target
