[Unit]
Description=Invokes the auto-techsupport script when triggered by the coredump-monit.path
After=database.service
Requires=database.service

[Service]
Type=simple
ExecStart=/usr/local/bin/auto-techsupport core

[Install]
WantedBy=multi-user.target